<!-- wp:template-part {"slug":"header-small","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<main class="wp-block-query has-custom-background-light-background-color has-background">
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)">
      <!-- wp:heading {"textAlign":"center"} -->
      <h2 class="wp-block-heading has-text-align-center">404<br>Not found</h2>
      <!-- /wp:heading -->
        <!-- wp:paragraph {"align":"center"} -->
        <p class="has-text-align-center">The server could not find the requested page.</p>
        <!-- /wp:paragraph -->
    </div>
</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
    