<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|100"}}},"layout":{"type":"constrained","wideSize":""}} -->
<main class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--100)">

	<!-- wp:post-title {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|100"}}},"fontSize":"huge"} /-->
	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
