<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","justifyContent":"left"}} -->
<main class="wp-block-group">
	<!-- wp:query-title {"type":"search","fontSize":"xx-large"} /-->
	<!-- wp:search {"label":"","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","className":"search-bar"} /-->

	<!-- wp:spacer {"height":"1px","style":{"spacing":{"margin":{"top":"50px","bottom":"50px"}}}} -->
	<div style="margin-top:50px;margin-bottom:50px;height:1px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"align":"full","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
	<div class="wp-block-group alignfull">
		<!-- wp:query {"queryId":0,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list","columns":3},"className":"is-style-blue-note-query-slant"} -->
		<div class="wp-block-query is-style-blue-note-query-slant">
			<!-- wp:post-template {"layout":{"type":"constrained"}} -->
				<!-- wp:post-featured-image {"isLink":true,"style":{"color":{"duotone":"var:preset|duotone|black-pink"}}} /-->
				<!-- wp:group {"layout":{"type":"constrained"}} -->
				<div class="wp-block-group">
					<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"right":"0px","left":"0px","top":"40px","bottom":"16px"}}}} /-->
					<!-- wp:post-date {"isLink":true} /-->
					<!-- wp:spacer {"height":"70px"} -->
					<div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div>
					<!-- /wp:spacer -->
				</div>
				<!-- /wp:group -->
			<!-- /wp:post-template -->

			<!-- wp:query-pagination -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-numbers /-->
			<!-- wp:query-pagination-next /-->
			<!-- /wp:query-pagination -->

			<!-- wp:query-no-results -->
			<!-- wp:paragraph -->
			<p>Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>
			<!-- /wp:paragraph -->
			<!-- /wp:query-no-results -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
