<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","justifyContent":"left"}} -->
<main class="wp-block-group">
	<!-- wp:query-title {"type":"search","fontSize":"xx-large"} /-->
	<!-- wp:search {"label":"","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","className":"search-bar"} /-->

	<!-- wp:spacer {"height":"1px","style":{"spacing":{"margin":{"top":"50px","bottom":"50px"}}}} -->
	<div style="margin-top:50px;margin-bottom:50px;height:1px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"align":"full","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
	<div class="wp-block-group alignfull">
		<!-- wp:pattern {"slug":"blue-note/posts"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
